/* reset */

*{
	margin: 0;
	padding: 0;
}

/* menu */

.menu{
	background: #252525;
}

.menu a{
	color: white;
	text-decoration: none;
}

.menu li{
	list-style: none;
}

.menu-container{
	max-width: 920px;
	padding: 15px;
	margin: 0 auto;
}

.menu-container::after, .menu-container::before{
	display: table;
	content:'';
	clear:both;
}

.menu-nav{
	float: right;
}

.menu-nav li{
	display: inline-block;
}

.menu-nav li a{
	padding: 15px;
	display: block;
}

.intro{
	padding: 150px 0px;
	text-align: center;
	color: white;
	background: url("../img/bg-intro.jpg")no-repeat center center;
	background-size:cover;
	
}

.intro h1{
	text-transform: uppercase;
	font-size: 3em;
}

.intro h1::after{
	content:"";
	display: block;
	width: 20px;
	height: 4px;
	background: white;
	margin: 10px auto;
	transition: 1s;
}

.intro h1:hover::after{
	width: 300px;	
	transition: 1s;
}

.intro p{
	font-size: 1.125em;
	font-style: italic;
}

/* sobre */

.sobre{
	padding: 60px 0px;
}

.sobre h2{
	padding-bottom: 60px;
	text-align: center;
	font-size: 2.25em;
}

.sobre-container{
	max-width: 960px;
	margin: 0 auto;
}

.sobre-container::after, .sobre-container::before{
	content:'';
	display: table;
	clear:both;
}

.sobre-item{
	max-width: 460px;
	float: left;
	margin: 0 10px;
}

.sobre-item h3{
	font-size: 2.25em;
	background: #252525;
	width: 220px;
	color: white;
	text-align: center;
	font-weight: 400;
	font-style: italic;
	padding: 5px 0;
	top: -30px;	/*top só move em relacao ao relative */
	position: relative;
}

.sobre p{
	font-size: 1.125em;
	text-align: center;
	font-style: italic;
	line-height: 1.4em;
	max-width: 460px;
	margin: 20px auto;
}

/* produtos */

.produtos{
	background: #e7e4d8;
	padding: 60px 0;
	border-top: 3px solid #d6d3c8;
	border-bottom: 3px solid #d6d3c8;
}

.produtos-container{
	max-width: 960px;
	margin: 0 auto;
}

.produtos-item{
	width: 300px;  /*nao botou max pq nenhuma tela é menor q 300, mas pode colocar max tb*/
	float: left;
	margin: 0 10px;
}

.produtos-container::before,
.produtos-container::after{
	content:'';
	display: table;
	clear:both;
}

.produtos h2{
	text-align: center;
	font-size: 2.25em;
	margin-bottom: 20px;
}

.produtos-item p{
	font-size: 0.875em;
	line-height: 1.4em;
}

.produtos-item h2::before{
	content:'';
	display: block;
	width: 100px;
	height: 100px;
	margin: 20px auto;
	background: currentColor;
	border-radius: 50%;
	border: 5px solid #e7e4d8;
	box-shadow: 0 0 0 5px currentColor;
}

.produtos-paulista::before{
	color: #492901;
}

.produtos-carioca::before{
	color:#c17139;
}

.produtos-mineiro::before{
	color: #d7a54d;
}

.produtos-btn{
	display: block;  /*para modificar o link*/
	width: 180px;
	text-transform: uppercase;
	border: 3px solid #252525;
	color: #252525;
	text-decoration: none;
	font-weight: 700; /*ou bold*/
	font-size: 1.125em;
	text-align: center;
	padding: 15px 0;
	margin: 0px auto; 
	margin-top: 40px;
	transition: 0.8s;
}

.produtos-btn:hover{
	color: #e7e4d8;
	box-shadow: 180px 0 0 0 #252525 inset;
	transition: 0.8s;
}

/* locais */

.locais{
	margin: 70px 0;
}

.locais-item::before, .locais-item::after{
	content:'';
	display: table;
	clear: both;
}

.locais-item{
	max-width: 960px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.locais-item img{
	float: left;
	max-width: 460px;
	margin: 0 25px;
	
}

.locais-item h2{
	font-size: 2.25em;
	font-family: serif;
}

.locais-item p{
	font-size: 1.125em;
	font-family: georgia;
	line-height: 1.4em;
	margin-top: 20px;
	margin-bottom: 30px;
}

.locais-btn{
	display: block;  /*para modificar o link*/
	width: 140px;
	text-transform: uppercase;
	border: 3px solid #252525;
	color: #252525;
	text-decoration: none;
	font-weight: 700; /*ou bold*/
	font-size: 1.125em;
	text-align: center;
	padding: 10px 0;
	margin: 0 510px; 
	transition: 0.8s;
}

.locais-btn:hover{
	color: #e7e4d8;
	box-shadow: 140px 0 0 0 #252525 inset;
	transition: 0.8s;
}

/* assine */

.assine{
	background: #e7e4d8;
	padding: 60px 0; 
	color: #252525;
}

.assine-container{
	margin: 0 auto;
	max-width: 960px;
}

.assine-container label{
	display: none;
}

.assine-container form{
	float: right;
}

.assine-info{
	float: left;
}

.assine-info::before, .assine-info::after{
	content:'';
	display: table;
	clear: both;
}

.assine-info h2{
	font-size: 2.125em;
}

.assine-info p{
	font-style: italic;
	font-size: 1.125em;
	line-height: 1.4em;
}

.assine-container input{
	background: #e7e4d8;
	margin: 0 20px;
	padding-left: 10px;
	border: 3px solid #252525;
	font-style: italic;
	font-size: 1.125em;
	width: 300px;
	height: 40px;
}

.assine-container button{
	display: block;  /*para modificar o link*/
	width: 140px;
	background: #252525;
	text-transform: uppercase;
	border: 3px solid #252525;
	color: white;
	text-decoration: none;
	font-weight: 500; /*ou bold*/
	font-size: 1.125em;
	font-style:serif;
	text-align: center;
	padding: 10px 0;
	margin-left: -40px;
	float: left; 
	transition: 0.8s;
}

/* footer */

.footer{
	background: #d6d4c8;
	color: #252525;
	padding: 60px;
} 

.footer-container{
	max-width: 960px;
	margin: 0 auto;
}

.footer-container p{
	float: left;
	font-family: georgia;
	line-height: 1.4em;
}

.footer-container img{
	float: right;
}
